@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&display=swap');

@-webkit-keyframes slide-in-blurred-left{0%{-webkit-transform:translateX(-1000px) scaleX(2.5) scaleY(.2);transform:translateX(-1000px) scaleX(2.5) scaleY(.2);-webkit-transform-origin:100% 50%;transform-origin:100% 50%;-webkit-filter:blur(40px);filter:blur(40px);opacity:0}100%{-webkit-transform:translateX(0) scaleY(1) scaleX(1);transform:translateX(0) scaleY(1) scaleX(1);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes slide-in-blurred-left{0%{-webkit-transform:translateX(-1000px) scaleX(2.5) scaleY(.2);transform:translateX(-1000px) scaleX(2.5) scaleY(.2);-webkit-transform-origin:100% 50%;transform-origin:100% 50%;-webkit-filter:blur(40px);filter:blur(40px);opacity:0}100%{-webkit-transform:translateX(0) scaleY(1) scaleX(1);transform:translateX(0) scaleY(1) scaleX(1);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;-webkit-filter:blur(0);filter:blur(0);opacity:1}}

:root{
    --cor-principal: #c14a09;
    --cor-secundaria: #ffce1b;
    --cor-selecionado: #cfa715;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor-secundaria);
}

.container{
    display: flex;
    align-items: center;
}

.grid{
    display: grid;
    grid-template-columns: 50% 50%;
}

header{
    background-color: var(--cor-principal);
    padding: 1.5vh 3vh;
    align-items: center;
}

a{
    text-decoration: none;
}

.container_name{
    font-family: "Bitcount Prop Single", system-ui;
    color: var(--cor-secundaria);
    letter-spacing: 0.5vh;
}

.container_logo{
    height: 15vh;
}

.container_barradebusca{
    font-size: 2vh;
    border-radius: 2vh;
    border-style: none;
    padding: 1vh;
    background-color: var(--cor-secundaria);
    color: #000000;
    margin-left: 7vh;
}

.buscar_icone{
    height: 3vh;
    background-color: transparent;
    margin-left: 2vh;
}

.buscar_icone:hover{
    height: 3.5vh;
    transition: 0.1s ease;
}

.container_botao{
    background-color: transparent;
     border-style: none;
}

.container_link{
    color: var(--cor-secundaria);
    font-size: 3vh;
    margin: 0 2vh;
}   

.container_link:hover{
    font-size: 3.5vh;
    color: var(--cor-selecionado);
    transition: 0.1s ease;
}

.logo{
    -webkit-animation:slide-in-blurred-left .6s cubic-bezier(.23,1.000,.32,1.000) both;animation:slide-in-blurred-left .6s cubic-bezier(.23,1.000,.32,1.000) both;
}

.section_imagem{
    height: 50vh;
    border-radius: 30px;
    box-shadow: var(--cor-principal) 10px 10px 5px;
}

.section_titulo{
    color: var(--cor-principal);
    font-size: 6vh;
}

.section_primeira{
    text-align: center;
    margin-top: 10vh;
}

.section_texto{
    width: 100vh;
    font-size: 3.5vh;
}