@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&display=swap');

:root{
    --cor-principal: #c14a09;
    --cor-secundaria: #ffce1b;
}

*{
    margin: 0px;
    padding: 0px;
}

.container{
    display: flex;
    align-items: center;
}

.grid{
    display: grid;
    grid-template-columns: 50% 50%;
}

main{
    background-color: var(--cor-principal);
    padding: 3vh 3vh 1.5vh;
    align-items: center;
}

.container_name{
    font-family: "Bitcount Prop Single", system-ui;
    color: var(--cor-secundaria);
    letter-spacing: 0.5vh;
}

.container_logo{
    height: 15vh;
}

.container_barradebusca{
    font-size: 2vh;
    border-radius: 2vh;
    border-style: none;
    padding: 1vh;
    background-color: var(--cor-secundaria);
    color: #000000;
}

.buscar_icone{
    height: 3vh;
    background-color: transparent;
}

.buscar_icone:hover{
    height: 3.5vh;
    transition: 0.1s ease;
}

.container_botao{
        background-color: transparent;
        border-style: none;
}